*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: black; */

}
.container{
    width:25rem;
    height: 10rem;
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(197, 197, 208);
}
.container h2{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}
.container button{
   font-size: 30px; 
   padding: 6px;
   display: block;
   width: 100%;
   color: white;
   background-color: black;
   border: none;
}